/* @tailwind base;
@tailwind components; */
@tailwind utilities;

:root {
    --primary-color: #00796b;
    --primary-color-light: #009688;
    --secondary-color: #4caf50;
    --secondary-color-light: #8bc34a;
    --accent-color: #ff9800;
    --accent-color-light: #ffcc80;
}

body {
    margin: 0;
}

/* Override Antd Tabs */

.ant-tabs-tab {
    display: block;
    flex: 1;
    text-align: center;
}

.ant-tabs-nav > div:nth-of-type(1) {
    display: unset !important;
    width: 100% !important;
}

.ant-tabs-tab-btn {
    width: 100%;
    text-align: center;
}
